@charset "UTF-8";
.container {
  width: 1200px;
  margin: 0 auto;
}

#benlai .box1200 {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}
#benlai .box1200 .path15 {
  width: 1200px;
  float: left;
  color: #959595;
  line-height: 40px;
  font-size: 12px;
}
#benlai .box1200 .path15 a {
  color: #959595;
}
#benlai .box1200 .path15 a:hover {
  color: #ff6801;
  text-decoration: underline;
}
#benlai .box1200 #_ProductDetails {
  /*经常看过的--浏览记录 开始*/
  /*经常看过的--浏览记录 结束*/
}
#benlai .box1200 #_ProductDetails .good15_box {
  width: 596px;
  float: left;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_number {
  float: left;
  width: 270px;
  line-height: 45px;
  color: #535353;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_collect {
  float: right;
  margin: 0 10px 0 15px;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_collect a {
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 0 -119px no-repeat;
  line-height: 45px;
  color: #535353;
  padding-left: 20px;
  display: block;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_collect a.on {
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 0 -154px no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_share {
  float: right;
  width: 87px;
  margin-top: 6px;
  margin-bottom: 40px;
  background-color: #fff;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_share dl {
  position: relative;
  z-index: 80000;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_share dl dt {
  height: 30px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  line-height: 30px;
  background: url(img/goods/n_top_ico_e5a1c5b5.png) 69px 12px no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_share dl dt s {
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 0 -100px no-repeat;
  width: 16px;
  height: 16px;
  float: left;
  margin: 7px 5px 0 6px;
  display: block;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_share dl dd {
  position: absolute;
  top: 31px;
  left: 0;
  z-index: 80000;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  width: 85px;
  padding: 3px 0 10px;
  display: none;
}
#benlai .box1200 #_ProductDetails .good15_box .good15_share dl dd a {
  margin-left: 7px;
}
#benlai .box1200 #_ProductDetails .good15_intro {
  float: right;
  width: 570px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_name {
  float: left;
  width: 570px;
  height: 68px;
  min-height: 68px;
  border-bottom: 1px solid #e0e0e0;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_name h1 {
  font: 800 18px/34px "Microsoft YaHei";
  color: #4c4c4c;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_name p {
  font-size: 14px;
  color: #ff6900;
  line-height: 26px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales {
  float: left;
  width: 570px;
  border-bottom: 1px solid #e0e0e0;
  padding: 18px 0;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_price {
  float: left;
  width: 570px;
  margin: 0 0 18px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_price .drop {
  color: #fff;
  font-size: 14px;
  background-color: #ff6900;
  line-height: 26px;
  padding: 0 8px;
  margin-right: 10px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_price .price {
  font: 800 26px/26px "Microsoft YaHei";
  color: #ff6900;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_price .notice {
  margin: 3px 0 0 20px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_price .notice a {
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 10px -31px no-repeat;
  border: 1px solid #e7e7e7;
  line-height: 18px;
  color: #4c4c4c;
  padding: 0 10px 0 25px;
  display: block;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_price .notice a.on {
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 10px -63px no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app {
  float: left;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app dl {
  float: left;
  width: 125px;
  height: 26px;
  position: relative;
  z-index: 10;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app dl dt a {
  float: left;
  width: 97px;
  height: 26px;
  background: url(img/goods/app_ico_23ab52d9.png) 0 0 no-repeat #ff6900;
  font-size: 14px;
  color: #fff;
  padding-left: 28px;
  line-height: 26px;
  text-decoration: none;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app dl dd {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 26px;
  width: 220px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  padding-bottom: 10px;
  display: none;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app dl dd p {
  background-color: #f4f4f4;
  line-height: 30px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app dl dd img {
  width: 220px;
}
#benlai .box1200 #_ProductDetails .good15_intro .intro_sales .intro_app dl dd em {
  font-size: 14px;
  font-weight: 700;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm {
  float: left;
  width: 570px;
  margin-top: 25px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl {
  float: left;
  width: 570px;
  padding-bottom: 10px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl {
  float: left;
  width: 570px;
  padding-bottom: 10px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl dt {
  float: left;
  width: 65px;
  color: #4c4c4c;
  line-height: 30px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl dd {
  float: right;
  width: 505px;
  color: #4c4c4c;
  line-height: 30px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl dd ul {
  width: 530px;
  *padding-bottom: 10px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl dd ul li {
  float: left;
  padding: 1px;
  margin: 0 10px 10px 0;
  vertical-align: middle;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl dd ul li a {
  min-width: 10px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 18px;
  color: #626252;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_norm dl .gdproperty dl dd ul li a.propon {
  min-width: 10px;
  display: inline-block;
  border: 2px solid #90c000;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 18px;
  background: url(img/goods/detail_ico05_f50941b4.gif) no-repeat 100% 14px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy {
  float: left;
  width: 570px;
  margin-bottom: 20px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl {
  float: left;
  width: 570px;
  height: 52px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dt {
  width: 75px;
  float: left;
  margin-right: 15px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dt input {
  display: block;
  border: 1px solid #cdcdcd;
  width: 54px;
  height: 48px;
  font: 400 24px/48px "Microsoft YaHei";
  color: #626262;
  text-align: center;
  float: left;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dt a {
  float: left;
  width: 19px;
  height: 25px;
  display: block;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dt a.up {
  background: url(img/goods/detail_ico2_aee48cd9.png) 0 -52px no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dt a.down {
  background: url(img/goods/detail_ico2_aee48cd9.png) -20px -52px no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd {
  float: left;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_btn {
  float: left;
  margin-right: 15px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_btn a {
  width: 182px;
  height: 52px;
  display: block;
  background: url(img/goods/detailsp_btn_c8171162.gif) no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_btn a.btn01 {
  background-position: 0 0;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_evaluate {
  color: #4c4c4c;
  line-height: 52px;
  float: left;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_evaluate font {
  font: 400 18px/52px "Microsoft YaHei";
  color: #ff6900;
  padding: 0 8px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_evaluate a {
  color: #4c4c4c;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy .bgright dl dd .buy_evaluate a span {
  color: #ff6900;
  padding: 0 5px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy ol {
  margin: 10px 0 0;
  float: left;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy ol li {
  line-height: 26px;
  color: #f92121;
  font-weight: 700;
  float: left;
  margin-right: 20px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_buy ol li s {
  float: left;
  margin: 6px 5px 0 0;
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 0 0 no-repeat;
  width: 15px;
  height: 15px;
  display: block;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_today {
  float: left;
  width: 570px;
  padding-bottom: 25px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_today dl {
  float: left;
  margin-right: 10px;
  position: relative;
  z-index: 0;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_today dl dt {
  background-color: #91c103;
  border: 1px solid #91c103;
  float: left;
  color: #fff;
  line-height: 23px;
  padding-right: 3px;
  cursor: pointer;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_today dl dt img {
  float: left;
  margin-right: 5px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_today dl dd {
  line-height: 18px;
  border: 1px solid #f1e1d3;
  background-color: #fff5ec;
  color: #616261;
  padding: 0 8px;
  z-index: 79;
  margin-top: 10px;
  position: absolute;
  top: 25px;
  left: 0;
  width: 378px;
  display: none;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_today dl dd s {
  position: absolute;
  top: -5px;
  left: 14px;
  width: 8px;
  height: 5px;
  display: block;
  background: url(img/goods/detail_ico2_aee48cd9.png) 0 -97px no-repeat;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt {
  float: left;
  width: 570px;
  padding-bottom: 20px;
  line-height: 18px;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt dl dd {
  color: #79a000;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt dl dd .toggleHeadline {
  margin: 0px;
  padding: 1px 0px 1px 18px;
  border: 0px currentColor;
  color: #5b85b3;
  line-height: 14.4px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt dl dd .toggleHeadline strong {
  font-weight: bold;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt dl dd .toggleContent {
  border-width: 1px 0px 0px;
  margin: 5px 0px 5px 18px;
  padding: 8px 0px 0px;
  color: #646464;
  line-height: 14.4px;
  font-family: Arial, sans-serif;
  border-top-color: #e0e0e0;
  border-top-style: solid;
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt dl dd .toggleContent p {
  margin: 5px 0px;
  padding: 0px;
  border: 0px currentColor;
  color: #333333;
  font-family: '宋体';
}
#benlai .box1200 #_ProductDetails .good15_intro .good15_prompt dl dd .toggleContent p span {
  margin: 0px;
  padding: 0px;
  border: 0px currentColor;
}
#benlai .box1200 #_ProductDetails .list15_record {
  width: 208px;
  float: left;
  border-top: 2px solid #8ab700;
  border-left: 1px solid #efefe8;
  border-right: 1px solid #efefe8;
  margin-bottom: 15px;
}
#benlai .box1200 #_ProductDetails .list15_record dl dt {
  background-color: #fafafa;
  color: #6b6b56;
  font: 400 16px/35px "微软雅黑";
  padding-left: 22px;
}
#benlai .box1200 #_ProductDetails .list15_record dl dt a {
  float: right;
  border: 1px solid #8ab700;
  font: 400 12px/18px "微软雅黑";
  color: #8ab700;
  padding: 0 8px;
  margin: 7px 10px 0 0;
}
#benlai .box1200 #_ProductDetails .list15_record dl dd {
  border-bottom: 1px solid #efefe8;
  padding: 10px;
  width: 188px;
  float: left;
}
#benlai .box1200 #_ProductDetails .list15_record dl dd .name a {
  float: right;
  width: 113px;
  height: 36px;
  font: 400 12px/18px "Microsoft YaHei";
  color: #3e4141;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  margin-top: 5px;
}
#benlai .box1200 #_ProductDetails .list15_record dl dd .price {
  color: #ff6900;
  line-height: 26px;
}
#benlai .box1200 #_ProductDetails .list15_record dl dd .pic img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 5px;
}
#benlai .box1200 #_ProductDetails .box980 {
  width: 980px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose {
  width: 980px;
  padding-bottom: 15px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose dl dt {
  background-color: #fafafa;
  border-bottom: 1px solid #efefe7;
  border-left: 1px solid #efefe7;
  border-right: 1px solid #efefe7;
  border-top: 2px solid #8ab700;
  height: 33px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose dl dt em {
  width: 122px;
  height: 34px;
  position: relative;
  z-index: 60;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose dl dt em a {
  line-height: 44px;
  display: block;
  text-align: center;
  height: 44px;
  width: 118px;
  background: url(img/goods/detail_ico2_aee48cd9.png) right -194px no-repeat;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -6px;
  left: -1px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose dl dd {
  width: 978px;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose dl dd .sku_box {
  width: 640px;
  height: 230px;
  margin: 20px 0 20px 20px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  float: left;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul {
  float: left;
  height: 230px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul .plus {
  float: left;
  width: 14px;
  height: 14px;
  text-align: center;
  margin: 45px 18px 0;
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 0 -204px no-repeat;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li {
  width: 120px;
  float: left;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .pic {
  width: 120px;
  text-align: center;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .pic img {
  width: 97px;
  height: 97px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .name {
  width: 120px;
  height: 36px;
  overflow: hidden;
  text-overflow: clip;
  display: block;
  margin-top: 15px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .name a {
  color: #1b1b15;
  line-height: 18px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .name a font {
  color: #eb6100 !important;
  margin-left: 5px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .price {
  width: 120px;
  line-height: 28px;
  text-align: center;
  color: #ff6900;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ul li .digital {
  text-align: center;
  width: 120px;
  margin-top: 5px;
  color: #999;
  font-weight: 700;
  font-size: 16px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ol {
  float: right;
  width: 280px;
  height: 200px;
  padding-top: 30px;
  margin: 20px 0;
  border-left: 1px solid #e7e7e7;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ol li {
  height: 120px;
  margin-left: 50px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ol li p {
  line-height: 18px;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ol li p span {
  color: #ff6900;
  font-weight: 700;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ol .good15_buy_btn {
  width: 122px;
  height: 30px;
  float: left;
}
#benlai .box1200 #_ProductDetails .box980 .good15_compose ol .good15_buy_btn a {
  width: 122px;
  height: 30px;
  display: block;
  background: url(img/goods/detailsp_btn_c8171162.gif) 0 -212px no-repeat;
}
#benlai .box1200 .good15_detail {
  float: left;
  width: 980px;
  position: relative;
  z-index: 7;
  background-color: #fafafa;
  border-bottom: 1px solid #efefe7;
  border-left: 1px solid #efefe7;
  border-right: 1px solid #efefe7;
  border-top: 2px solid #8ab700;
  height: 41px;
}
#benlai .box1200 .good15_detail dl dt {
  width: 672px;
  float: left;
}
#benlai .box1200 .good15_detail dl dt em {
  width: 112px;
  height: 34px;
  float: left;
  position: relative;
  z-index: 70;
}
#benlai .box1200 .good15_detail dl dt em a {
  color: #79a000;
  line-height: 34px;
  padding: 10px 4px 0 0;
  display: block;
  position: absolute;
  top: -6px;
  left: -1px;
  width: 108px;
  text-align: center;
  height: 34px;
  overflow: hidden;
  text-overflow: clip;
  font-weight: 400;
  font-family: "宋体";
  font-size: 12px;
}
#benlai .box1200 .good15_detail dl dt em a.on, #benlai .box1200 .good15_detail dl dt em a:hover {
  background: url(img/goods/detail_ico2_aee48cd9.png) right -194px no-repeat;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding-top: 5px;
  height: 39px;
}
#benlai .box1200 .good15_detail dl dd {
  float: right;
  margin: 7px 13px 0 0;
}
#benlai .box1200 .good15_detail dl dd p {
  line-height: 30px;
  font-size: 18px;
  float: left;
  margin-right: 25px;
  color: #ff6900;
  font-weight: 800;
  font-family: 'Microsoft YaHei';
}
#benlai .box1200 .good15_detail dl dd .good15_buy_btn {
  float: left;
  height: 30px !important;
  width: 122px;
}
#benlai .box1200 .good15_detail dl dd .good15_buy_btn a {
  width: 122px;
  height: 30px;
  display: block;
  background: url(img/goods/detailsp_btn_c8171162.gif) 0 -212px no-repeat;
}
#benlai .box1200 .box980 {
  width: 980px;
}
#benlai .box1200 .box980 .good15_all {
  width: 980px;
  margin: 20px 0;
  float: left;
}
#benlai .box1200 .box980 .good15_all dl dt {
  width: 980px;
  margin-bottom: 15px;
}
#benlai .box1200 .box980 .good15_all dl dd {
  width: 980px;
}
#benlai .box1200 .box980 .good15_all dl dd img {
  width: 980px;
}
#benlai .box1200 .commentContent .good15_review {
  width: 980px;
  float: left;
}
#benlai .box1200 .commentContent .good15_review .mb20 {
  margin-bottom: 20px;
}
#benlai .box1200 .commentContent .good15_review ul {
  width: 979px;
  margin-bottom: 10px;
  border-left: 1px solid #eeeee6;
  border-top: 1px solid #eeeee6;
  border-bottom: 1px solid #eeeee6;
}
#benlai .box1200 .commentContent .good15_review ul li {
  float: left;
  border-right: 1px solid #eeeee6;
  height: 125px;
}
#benlai .box1200 .commentContent .good15_review ul .proportion {
  width: 125px;
  padding: 0 45px;
  text-align: center;
  line-height: 32px;
  color: #ff6900;
  font-size: 14px;
}
#benlai .box1200 .commentContent .good15_review ul .proportion p {
  background: url(img/goods/detail_ico_e7eb6dd1.gif) 0 -238px no-repeat;
  height: 67px;
  margin-top: 18px;
  color: #fff;
  font: 800 36px/57px "Microsoft YaHei";
}
#benlai .box1200 .commentContent .good15_review ul .sublist {
  width: 732px;
  padding: 20px 10px 0 20px;
  height: 105px;
}
#benlai .box1200 .commentContent .good15_review ul .sublist em {
  float: left;
  max-width: 400px;
  margin: 0 10px 10px 0;
}
#benlai .box1200 .commentContent .good15_review ul .sublist em a {
  color: #666;
  white-space: nowrap;
  width: auto;
  border: 1px solid #ddd;
  display: block;
  line-height: 20px;
  padding: 0 5px 0 10px;
}
#benlai .box1200 .commentContent .good15_comment {
  width: 980px;
  float: left;
}
#benlai .box1200 .commentContent .good15_comment .comment_tab {
  float: left;
  width: 980px;
  margin-bottom: 15px;
  background: url(//image.benlailife.com/webStatic/images/n_detail/detail_ico22_e1628c22.gif) left bottom repeat-x;
}
#benlai .box1200 .commentContent .good15_comment .comment_tab a {
  line-height: 22px;
  padding: 0 20px;
  border-right: 1px solid #e7e7e7;
  display: block;
  color: #707062;
  font-size: 14px;
}
#benlai .box1200 .commentContent .good15_comment .comment_tab p {
  float: left;
  margin: 10px 0;
}
#benlai .box1200 .commentContent .good15_comment .comment_tab .selectp {
  background: url(//image.benlailife.com/webStatic/images/n_detail/detail_ico18_c0b41931.png) center bottom no-repeat;
}
#benlai .box1200 .commentContent .good15_comment .comment_tab .selectp a {
  color: #91be16;
}
#benlai .box1200 .commentContent .good15_comment .review16_box {
  float: left;
  margin-top: 10px;
  width: 980px;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 {
  width: 980px;
  float: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .review16_head {
  float: left;
  width: 120px;
  text-align: center;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .review16_head img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .review16_head p {
  color: #333;
  line-height: 20px;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue {
  float: right;
  width: 850px;
  padding-bottom: 10px;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue dl dt {
  width: 850px;
  height: 25px;
  position: relative;
  z-index: 0;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue dl dt p {
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/goods/newstar02_63656382.png) 0 0 no-repeat;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue dl dd {
  width: 850px;
  margin-bottom: 10px;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue dl dd .word {
  line-height: 24px;
  border-bottom: 10px;
  color: #333;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue dl dd .time {
  line-height: 30px;
  float: right;
  color: #666666;
}
#benlai .box1200 .commentContent .good15_comment .review16_box .review16_box980 .good16_dialogue dl dd .time span {
  padding-right: 10px;
}
#benlai .box1200 .commentContent .good15_comment .page15 {
  float: right;
  margin-bottom: 40px;
  width: 600px;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dt {
  float: right;
  width: 150px;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dt p {
  line-height: 24px;
  float: left;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dt input {
  border: 1px solid #d8d8d8;
  width: 18px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #626262;
  margin: 0 8px 0 3px;
  float: left;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dt a {
  background-color: #8ab700;
  color: #fff;
  border: 1px solid #657437;
  padding: 0 10px;
  display: block;
  line-height: 22px;
  float: left;
  margin-left: 10px;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dd {
  float: right;
  margin-right: 10px;
  border-left: 1px solid #d8d8d8;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dd span {
  cursor: pointer;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dd span, #benlai .box1200 .commentContent .good15_comment .page15 dl dd a {
  float: left;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 6px;
  display: block;
  line-height: 22px;
  color: #626262;
  user-select: none;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dd span.link_none {
  background-color: #fafafa;
  color: #959595;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dd a.active {
  background: #8ab700;
  color: #fff;
}
#benlai .box1200 .commentContent .good15_comment .page15 dl dd p {
  float: left;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 6px;
  line-height: 22px;
  color: #626262;
}

/*# sourceMappingURL=details.css.map */
