@charset "UTF-8";
#benlai {
  /*大轮播图 开始*/
  /*大轮播图 结束*/
  /*页面主体内容 开始*/
  /*页面主体内容 结束*/
}
#benlai .banner {
  height: 400px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#benlai .banner:hover .index_control .banner_nav a {
  background: rgba(255, 255, 255, 0.78);
  transition: all .4s linear;
  color: #626252;
}
#benlai .banner .index_control {
  width: 990px;
  margin: 0 auto;
  background: red;
  position: relative;
  padding-left: 210px;
}
#benlai .banner .index_control .pis .prev {
  position: absolute;
  top: 182px;
  left: 210px;
}
#benlai .banner .index_control .pis .prev a {
  display: block;
  width: 24px;
  height: 48px;
  opacity: 0.8;
  background: url(img/index/banner/n_icon_tab_a2631635.png) 7px 15px no-repeat #fff;
}
#benlai .banner .index_control .pis .next {
  position: absolute;
  top: 182px;
  right: 0;
}
#benlai .banner .index_control .pis .next a {
  display: block;
  width: 24px;
  height: 48px;
  opacity: 0.8;
  background: url(img/index/banner/n_icon_tab_a2631635.png) -43px 15px no-repeat #fff;
}
#benlai .banner .index_control .banner_nav {
  width: 990px;
  height: 30px;
  position: absolute;
  top: 395px;
  left: 210px;
  overflow: hidden;
  transition: all .4s linear;
  z-index: 100;
}
#benlai .banner .index_control .banner_nav li {
  width: 163px;
  margin-left: 2px;
  float: left;
}
#benlai .banner .index_control .banner_nav li a {
  display: block;
  width: 143px;
  height: 30px;
  background: rgba(162, 162, 147, 0.78);
  color: #626252;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  text-overflow: clip;
  overflow: hidden;
  font-size: 14px;
}
#benlai .banner .index_control .banner_nav .on a {
  background: rgba(150, 191, 23, 0.78);
  transition: none !important;
  color: #fff;
}
#benlai .banner .picture {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -100;
}
#benlai .banner .picture a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s;
}
#benlai .banner .picture a:nth-child(1) {
  background: url(img/index/banner/sjchucheng18.jpg) center top no-repeat;
  opacity: 1;
  z-index: 100;
}
#benlai .banner .picture a:nth-child(2) {
  background: url(img/index/banner/sjnhdj22.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(3) {
  background: url(img/index/banner/sjyq79m.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(4) {
  background: url(img/index/banner/sj190108nianhuo.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(5) {
  background: url(img/index/banner/sjhgg22.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(6) {
  background: url(img/index/banner/sjnr23.jpg) center top no-repeat;
}
#benlai .main1200 {
  height: 3000px;
  overflow: hidden;
}
#benlai .main1200 .left_menu {
  position: absolute;
  left: -60px;
  z-index: 69;
  width: 42px;
}
#benlai .main1200 .left_menu a {
  width: 42px;
  height: 42px;
  display: block;
  float: left;
  margin-bottom: 5px;
  background: url(img/index/left_menu_ico_821aa259.png) no-repeat;
}
#benlai .main1200 .left_menu a.ico99 {
  background-position: 0 -516px;
}
#benlai .main1200 .left_menu a.ico99:hover, #benlai .main1200 .left_menu a.ico99.on {
  background-position: -43px -516px;
}
#benlai .main1200 .left_menu a.ico3 {
  background-position: 0 -86px;
}
#benlai .main1200 .left_menu a.ico3:hover, #benlai .main1200 .left_menu a.ico3.on {
  background-position: -43px -86px;
}
#benlai .main1200 .left_menu a.ico4 {
  background-position: 0 -129px;
}
#benlai .main1200 .left_menu a.ico4:hover, #benlai .main1200 .left_menu a.ico4.on {
  background-position: -43px -129px;
}
#benlai .main1200 .left_menu a.ico5 {
  background-position: 0 -172px;
}
#benlai .main1200 .left_menu a.ico5:hover, #benlai .main1200 .left_menu a.ico5.on {
  background-position: -43px -172px;
}
#benlai .main1200 .left_menu a.ico6 {
  background-position: 0 -215px;
}
#benlai .main1200 .left_menu a.ico6:hover, #benlai .main1200 .left_menu a.ico6.on {
  background-position: -43px -215px;
}
#benlai .main1200 .left_menu a.ico7 {
  background-position: 0 -258px;
}
#benlai .main1200 .left_menu a.ico7:hover, #benlai .main1200 .left_menu a.ico7.on {
  background-position: -43px -258px;
}
#benlai .main1200 .left_menu a.ico14 {
  background-position: 0 -602px;
}
#benlai .main1200 .left_menu a.ico14:hover, #benlai .main1200 .left_menu a.ico14.on {
  background-position: -43px -602px;
}
#benlai .main1200 .left_menu a.ico10 {
  background-position: 0 -387px;
}
#benlai .main1200 .left_menu a.ico10:hover, #benlai .main1200 .left_menu a.ico10.on {
  background-position: -43px -387px;
}
#benlai .main1200 .left_menu a.ico8 {
  background-position: 0 -301px;
}
#benlai .main1200 .left_menu a.ico8:hover, #benlai .main1200 .left_menu a.ico8.on {
  background-position: -43px -301px;
}
#benlai .main1200 .left_menu a.ico12 {
  background-position: 0 -473px;
}
#benlai .main1200 .left_menu a.ico12:hover, #benlai .main1200 .left_menu a.ico12.on {
  background-position: -43px -473px;
}
#benlai .main1200 .index15_ad {
  width: 1200px;
  height: 175px;
  margin-bottom: 20px;
}
#benlai .main1200 .index15_ad li {
  float: left;
  width: 300px;
}
#benlai .main1200 .index15_ad li img {
  height: 175px;
  width: 300px;
}
#benlai .main1200 .index_new {
  float: left;
  width: 1010px;
  height: 266px;
  margin-bottom: 20px;
}
#benlai .main1200 .index_new .index15_tab {
  background-color: #f8f8f6;
  border-right: 1px solid #c2d58f;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  width: 123px;
  height: 264px;
  position: relative;
  z-index: 0;
}
#benlai .main1200 .index_new .index15_tab dl {
  height: 44px;
  float: left;
}
#benlai .main1200 .index_new .index15_tab dl .on {
  top: -1px;
  left: -1px;
}
#benlai .main1200 .index_new .index15_tab dl .on a {
  color: #78a000;
  background-color: #fff;
  border-top: 1px solid #c2d58f;
  border-bottom: 1px solid #c2d58f;
  border-left: 4px solid #91be16;
  width: 117px;
  padding-right: 4px;
}
#benlai .main1200 .index_new .index15_tab dl dt {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  text-align: center;
}
#benlai .main1200 .index_new .index15_tab dl dt a {
  font: 400 16px/44px "Microsoft YaHei";
  color: #626252;
  text-decoration: none;
  display: block;
  height: 44px;
  width: 123px;
  border-bottom: 1px solid #e5e5e5;
}
#benlai .main1200 .index_new .index15_tab dl dd {
  border-top: 1px solid #c2d58f;
  position: absolute;
  top: -1px;
  left: 124px;
  z-index: 4;
  width: 885px;
  height: 265px;
  display: none;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku {
  width: 885px;
  height: 265px;
  float: left;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li {
  border-bottom: 1px solid #c2d58f;
  float: left;
  width: 176px;
  height: 264px;
  border-right: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box {
  border: 4px solid #fff;
  width: 140px;
  height: 256px;
  padding: 0 14px;
  position: relative;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .pic {
  margin-top: 15px;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .pic a {
  color: #666;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .pic a img {
  width: 140px;
  height: 140px;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name {
  height: 38px;
  width: 140px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name a {
  font: 400 14px/18px "Microsoft YaHei";
  color: #3e4141;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name a font {
  height: 19px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name a span {
  font: 400 12px/18px "Microsoft YaHei";
  color: #898989;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .price {
  font: 400 17px/25px "Microsoft YaHei";
  color: #ff6900;
  margin-top: 7px;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .price span {
  font: 400 12px/25px "Microsoft YaHei";
  color: #686c69;
  text-decoration: line-through;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .btn {
  position: absolute;
  top: 260px;
  left: 0;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .btn a {
  background: url(img/index/btn_new_b1771e22.png) no-repeat;
  width: 168px;
  height: 33px;
  display: block;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .btn a.ico00 {
  background-position: center 0;
  cursor: pointer;
}
#benlai .main1200 .index15_ann {
  width: 177px;
  height: 266px;
  box-sizing: border-box;
  border: 1px solid #c9cdb2;
  float: right;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}
#benlai .main1200 .index15_ann .tit {
  font-size: 18px;
  line-height: 38px;
  margin-top: 10px;
  color: #615a54;
  text-align: center;
}
#benlai .main1200 .index15_ann ul {
  margin-top: 4px;
}
#benlai .main1200 .index15_ann ul li {
  font-size: 14px;
  line-height: 28px;
  text-overflow: clip;
  width: 145px;
  overflow: hidden;
  white-space: nowrap;
}
#benlai .main1200 .index15_ann ul li a {
  color: #615a54;
}
#benlai .main1200 .index15_ann a img {
  position: absolute;
  bottom: 17px;
  left: 0;
}
#benlai .main1200 .index15_origin {
  float: left;
  width: 1200px;
  height: 470px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  background: url(img/index/ae3b7884-e071-4c9b-8362-6396fe069568.jpg) no-repeat;
}
#benlai .main1200 .index15_origin .origin_tit {
  width: 74px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  font: 400 16px/45px "Microsoft YaHei";
  color: #fff;
  padding-left: 49px;
  background: url(img/index/n_bg_be18aeea.png) 0 -84px no-repeat;
}
#benlai .main1200 .index15_origin .index15_path {
  float: left;
  width: 1200px;
  height: 170px;
  background: url(img/index/n_path_c5a3e09b.png) no-repeat;
  position: relative;
  z-index: 8;
}
#benlai .main1200 .index15_origin .index15_path dl dt {
  position: absolute;
  width: 25px;
  z-index: 7;
}
#benlai .main1200 .index15_origin .index15_path dl dt .ico01 {
  margin-bottom: 9px;
  background: url(img/index/n_bg_be18aeea.png) 0 -50px no-repeat;
  width: 25px;
  height: 33px;
}
#benlai .main1200 .index15_origin .index15_path dl dt .ico02 {
  top: 48px;
  left: 7px;
  position: absolute;
  z-index: 7;
  background: url(img/index/n_bg_be18aeea.png) -35px -50px no-repeat;
  width: 10px;
  height: 10px;
}
#benlai .main1200 .index15_origin .index15_path dl dt .ico03 {
  margin: 8px 0 0 1px;
  *margin: 15px 0 0 1px;
  background: url(img/index/n_bg_be18aeea.png) -55px -50px no-repeat;
  width: 22px;
  height: 22px;
  -webkit-animation: twinkle 1s ease-out infinite normal;
  -moz-animation: twinkle 1s ease-out infinite normal;
  -ms-animation: twinkle 1s ease-out infinite normal;
  -o-animation: twinkle 1s ease-out infinite normal;
  animation: twinkle 1s ease-out infinite normal;
}
@keyframes twinkle {
  0% {
    transform: scale(0.45);
  }
  100% {
    -webkit-transform: scale(1.59);
    transform: scale(1.59);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
#benlai .main1200 .index15_origin .index15_path dl dd {
  position: absolute;
  z-index: 8;
}
#benlai .main1200 .index15_origin .index15_path dl dd a {
  font: 400 16px/45px "Microsoft YaHei";
  color: #1e301d;
  width: 90px;
  height: 45px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  text-align: center;
  padding-top: 60px;
}
#benlai .main1200 .index15_origin .index15_path dl .country01 {
  top: 30px;
  left: 196px;
}
#benlai .main1200 .index15_origin .index15_path dl .country02 {
  top: 16px;
  left: 390px;
}
#benlai .main1200 .index15_origin .index15_path dl .country03 {
  top: 44px;
  left: 582px;
}
#benlai .main1200 .index15_origin .index15_path dl .country04 {
  top: 19px;
  left: 771px;
}
#benlai .main1200 .index15_origin .index15_path dl .country05 {
  top: 33px;
  left: 984px;
}
#benlai .main1200 .index15_origin .index15_sku2 {
  width: 1160px;
  height: 280px;
  float: left;
  position: relative;
  z-index: 9;
  margin-left: 20px;
}
#benlai .main1200 .index15_origin .index15_sku2 .sku_bg {
  background-color: #fff;
  opacity: .9;
  filter: alpha(opacity=91);
  box-shadow: 3px 1px 9px rgba(0, 0, 0, 0.2);
  width: 1160px;
  height: 280px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}
#benlai .main1200 .index15_origin .index15_sku2 ul {
  padding: 0 22px;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  overflow: hidden;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li {
  width: 178px;
  float: left;
  height: 272px;
  padding: 4px;
  position: relative;
  transition: all .2s linear;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .pic {
  margin: 25px 0 0 19px;
  transition: all .2s linear;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .pic img {
  width: 140px;
  height: 140px;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .name {
  height: 38px;
  width: 140px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  margin: 15px 0 0 19px;
  transition: all .2s linear;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .name a {
  font: 400 14px/18px "Microsoft YaHei";
  font-size: 14px;
  color: #3e4141;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .price {
  font: 400 17px/25px "Microsoft YaHei";
  color: #ff6900;
  margin: 7px 0 0 19px;
  transition: all .2s linear;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .price span {
  font: 400 12px/25px "Microsoft YaHei";
  color: #686c69;
  text-decoration: line-through;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .btn {
  position: absolute;
  top: 280px;
  left: 4px;
  transition: all .2s linear;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .btn a {
  background: url(img/index/btn_new_b1771e22.png) no-repeat;
  width: 178px;
  height: 33px;
  display: block;
}
#benlai .main1200 .index15_origin .index15_sku2 ul li .btn a.ico00 {
  background-position: center 0;
  cursor: pointer;
}
#benlai .main1200 #OnlineHomePage .index_ad3 {
  float: left;
  margin-bottom: 10px;
  width: 1200px;
  height: 120px;
}
#benlai .main1200 #OnlineHomePage .index_ad3 img {
  width: 1200px;
  height: 120px;
}
#benlai .main1200 #OnlineHomePage .index_recommend {
  width: 1200px;
  height: 578px;
  float: left;
  margin-bottom: 20px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 {
  float: left;
  width: 1200px;
  height: 47px;
  position: relative;
  z-index: 0;
  background-color: #f8f8f6;
  border-bottom: 1px solid #91b678;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .tit {
  float: left;
  width: 300px;
  height: 35px;
  margin: 6px 0 0 15px;
  *display: inline;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .tit a {
  font: 400 18px/35px "Microsoft YaHei";
  color: #626252;
  text-decoration: none;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .tit a em {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  margin-right: 10px;
  background: url(img/index/left_menu_ico_821aa259.png) no-repeat;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .tit a em.ico3 {
  background-position: -86px -86px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 s {
  top: 10px;
  left: 314px;
  width: 0;
  height: 27px;
  border-left: 1px solid #e6e6e6;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .index_label {
  width: 314px;
  height: 530px;
  float: left;
  border-right: 1px solid #eee;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 5;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .index_label img {
  width: 314px;
  height: 400px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .index_label ul {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  float: left;
  width: 283px;
  height: 121px;
  background-color: #fbfbfb;
  overflow: hidden;
  padding: 7px 0 0 30px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .index_label ul li {
  width: 52px;
  height: 52px;
  float: left;
  margin: 0 15px 10px 0;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .index_label ul li a {
  width: 50px;
  height: 50px;
  border: 1px solid #a6ca44;
  display: block;
  text-align: center;
  font: 400 14px/50px "Microsoft YaHei";
  color: #78a000;
  background-color: #fff;
  border-radius: 10px;
  text-overflow: clip;
  overflow: hidden;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 .index_label ul li a.four {
  line-height: 20px;
  padding: 4px 5px 0;
  width: 40px;
  height: 46px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl {
  height: 27px;
  width: 124px;
  float: left;
  margin: 10px 0;
  border-right: 1px solid #e5e5e5;
  _margin: 0;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dt {
  position: relative;
  z-index: 5;
  top: -10px;
  left: 0;
  text-align: center;
  _top: 0;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dt.on {
  top: -10px;
  left: -1px;
  _top: 0;
  _left: 1px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dt.on a {
  font: 400 16px/37px "Microsoft YaHei";
  color: #769b06;
  padding: 0 0 6px;
  border-top: 5px solid #91be16;
  border-left: 1px solid #91b678;
  border-right: 1px solid #91b678;
  background-color: #fff;
  width: 124px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dt a {
  font: 400 14px/37px "Microsoft YaHei";
  color: #626252;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  width: 125px;
  height: 37px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 4;
  width: 1200px;
  height: 530px;
  display: none;
  _top: 49px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku {
  width: 885px;
  height: 265px;
  float: left;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li {
  width: 176px;
  float: left;
  height: 264px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box {
  border: 4px solid #fff;
  width: 140px;
  height: 256px;
  padding: 0 14px;
  position: relative;
  transition: all .2s linear;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .pic {
  margin-top: 15px;
  transition: all .2s linear;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .pic img {
  width: 140px;
  height: 140px;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .name {
  height: 38px;
  width: 140px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  transition: all .2s linear;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .name a {
  font: 400 14px/18px "Microsoft YaHei";
  color: #3e4141;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .name a font {
  height: 19px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .name a span {
  font: 400 12px/18px "Microsoft YaHei";
  color: #898989;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .price {
  font: 400 17px/25px "Microsoft YaHei";
  color: #ff6900;
  margin-top: 7px;
  transition: all .2s linear;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .price span {
  font: 400 12px/25px "Microsoft YaHei";
  color: #686c69;
  text-decoration: line-through;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .btn {
  position: absolute;
  top: 260px;
  left: 0;
  transition: all .2s linear;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .btn a {
  background: url(img/index/btn_new_b1771e22.png) no-repeat;
  width: 168px;
  height: 33px;
  display: block;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .index_sku li .box .btn a.ico00 {
  background-position: center 0;
  cursor: pointer;
}
#benlai .main1200 #OnlineHomePage .index_recommend .index_tab2 dl dd .box530 {
  height: 530px !important;
  float: right !important;
}
#benlai #goTop #go_top, #benlai #goTop #go_top:hover, #benlai #goTop .collect, #benlai #goTop .two_code, #benlai #goTop .collect {
  background: #fff url(img/index/footer/gotop_399f0c23.gif) no-repeat;
  cursor: pointer;
  border: 1px solid #ccc;
  float: left;
  overflow: hidden;
  padding: 5px;
  margin-left: 11px;
}
#benlai #goTop {
  bottom: 10px;
  right: 0;
  width: 61px;
  position: fixed;
  z-index: 9;
}
#benlai #goTop #go_top {
  width: 44px;
  height: 30px;
  background-position: -43px -43px;
}
#benlai #goTop .cart_buy {
  background: url(img/index/footer/cart_pop02_21375019.gif) no-repeat;
  width: 46px;
  height: 70px;
  display: block;
  float: left;
  overflow: hidden;
  margin-top: 10px;
  padding: 0 0 0 15px;
  text-align: center;
  font: 400 12px/38px "Microsoft YaHei";
  color: #fff;
}
#benlai #goTop .service {
  background: url(img/index/footer/gotop_service_d114e897.gif) 0 0 no-repeat;
  height: 70px;
  width: 50px;
  margin-top: 10px;
  display: block;
  float: left;
  overflow: hidden;
  margin-left: 11px;
}
#benlai #goTop .two_code {
  background-position: -96px -46px;
  height: 38px;
  width: 44px;
  margin-top: 10px;
}
#benlai .pop_cart {
  display: none;
  width: 300px;
  padding: 10px;
  bottom: 124px;
  right: 52px;
  _right: 56px;
  position: fixed;
  z-index: 8;
}
#benlai .pop_cart .pop_buy {
  border: 1px solid #649a2b;
  background-color: #fff;
  width: 275px;
  float: left;
  padding: 0 15px 0 10px;
}
#benlai .pop_code .code_con, #benlai .pop_code2 .code_con, #benlai .pop_code3 .code_con {
  background: #fff;
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.1);
  -webkit-box-shadow: rgba(34, 25, 25, 0.1) 0 0 1px;
  border: 1px solid #E6E4E4;
  text-align: center;
  padding: 7px;
}
#benlai .pop_code .code_con span, #benlai .pop_code2 .code_con span, #benlai .pop_code3 .code_con span {
  display: block;
  height: 186px;
}
#benlai .pop_code .code_con b, #benlai .pop_code2 .code_con b, #benlai .pop_code3 .code_con b {
  display: block;
  font-size: 14px;
  margin-top: 6px;
}
#benlai #twocodeParent .pop_code {
  bottom: 14px;
  right: 54px;
  _right: 59px;
  height: 222px;
  width: 200px;
  position: fixed;
  z-index: 9;
}
#benlai #twocodeParent .pop_code2 {
  bottom: 14px;
  right: 260px;
  _right: 265px;
  height: 222px;
  width: 200px;
  position: fixed;
  z-index: 9;
}
#benlai #twocodeParent .pop_code3 {
  bottom: 14px;
  right: 466px;
  _right: 471px;
  height: 222px;
  width: 200px;
  position: fixed;
  z-index: 9;
}

/*# sourceMappingURL=index.css.map */
