@charset "utf-8";//设置编码


*{
    padding: 0;
    margin: 0;
}
input:-ms-input-placeholder {
    color: #3e4141;
    font-size: 12px;
    opacity: 1;
}
        
input::-webkit-input-placeholder {
    color: #3e4141;
    font-size: 12px;
    opacity: 1;
}
:-moz-placeholder {
    color: #3e4141;
    font-size: 12px;
    opacity: 1;
}       
::-moz-placeholder {
    color: #3e4141;
    font-size: 12px;
    opacity: 1;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
#benlai{
    // background: #ccc;
    /*头部样式 开始*/
    .header{
        height: 237px;
        // background: #cccccc;
        /*头部顶 开始*/
        .head_top{
            height: 31px;
            box-sizing: border-box;
            line-height: 31px;
            background: #fcfcfc;
            color: #3e4141;
            font-size: 12px;
            box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            .login{
                float: left;
                a{
                    color: #ff6900;
                }
            }
            .head_city{
                float: left;
                background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -43px no-repeat;
                padding-left: 34px;
                margin-left: 15px;
                a{
                    display: block;
                    width: 79px;
                    height: 22px;
                    padding-left: 6px;
                    text-decoration: none;
                    color: #3e4141;
                    background: url(img/header/n_top_ico_e5a1c5b5.png) 70px 8px no-repeat #ffffff;
                    border: 1px solid #eeeee7;
                    line-height: 22px;
                    text-align: left;
                    margin-top: 3px;
                }
            }
            .head_menu{
                float: right;
                // background: url(img/header/n_top_ico_e5a1c5b5.png) left -79px no-repeat;
                li{
                    float: left;
                    box-sizing: border-box;
                    height: 31px;
                    // border-left: 1px solid #cccccc;
                    background: url(img/header/n_top_ico_e5a1c5b5.png) right -79px no-repeat;
                    .menu_word{
                        margin:0 15px;
                    } 
                    a{
                        line-height: 30px;
                        color: #3e4141;
                        display: inline-block;
                        text-decoration: none;
                    }
                    .towcode{
                        dl{
                            width: 101px;
                            height: 30px;
                            position: relative;
                            dt{
                                a{
                                    display: block;
                                    padding-left: 30px;
                                    background: url(img/header/top_ipico01_708559df.gif) 11px 4px no-repeat;
                                }
                            }
                            dd{
                                width: 101px;
                                height: 157px;
                                background: #fff;
                                text-align: center;
                                // box-sizing: border-box;
                                position: absolute;
                                border: 1px solid #ccc;
                                border-top: none;
                                top: 30px;
                                left: -1px;
                                display: none;//隐藏
                                img{
                                    width: 98px;
                                    padding: 15px 0 0 0;
                                }
                                p{
                                    line-height: 38px;
                                    color: #2c2e2d;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .head_service{
                        dl{
                            width: 87px;
                            height: 30px;
                            position: relative;
                            dt{
                                width: 73px;
                                padding-left: 14px;
                                background: url(img/header/n_top_ico_e5a1c5b5.png) 65px 13px no-repeat;
                            }
                            dd{
                                width: 89px;
                                height: 102px;
                                position: absolute;
                                top: 30px;
                                left: -1px;
                                border: 1px solid #ccc;
                                border-top: none;
                                background: #fff;
                                text-align: center;
                                box-sizing: border-box;
                                padding-top: 6px;
                                display: none;//隐藏
                                
                                a{
                                    display: block;
                                    font-size: 12px;
                                    line-height: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
        /*头部顶 结束*/
        /*头部轮播图 开始*/
        .head_top_bar{
            height: 60px;
            background: pink;
            a{
                display: block;
                height: 100%;
                display: none;//隐藏
                &:nth-child(1){
                    background: url(img/header/dtpf29.jpg) center top no-repeat;
                    display: block;//
                }
                &:nth-child(2){
                    background: url(img/header/dtgdx.jpg) center top no-repeat;
                }
                &:nth-child(3){
                    background: url(img/header/dthf1.jpg) center top no-repeat;
                }
            }
        }
        /*头部轮播图 结束*/
        /*头部搜索 开始*/
        .head_logo_box{
            background: #fff;
            margin-top: 2px;
            .container{
                // padding: 2px 0 0px;
                // padding-top: 2px;
                
                // overflow: hidden;
                // .fl{

                // }
                .head_buy{
                    margin: 30px 0 0 20px;
                    position: relative;
                    z-index: 60;
                    dl{
                        height: 40px;
                        // height: 125px;
                        // box-sizing: border-box;
                        dt{
                            height: 38px;
                            width: 123px;
                            border: 1px solid #e5e5e5;
                            line-height: 38px;
                            .buy_quantity{
                                width: 37px;
                                height: 23px;
                                background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -194px no-repeat;
                                position: absolute;
                                top: -16px;
                                left: 25px;
                                line-height: 19px;
                                text-align: center;
                                color: #fff;
                                
                            }
                            a{
                                display: block;
                                background: url(img/header/n_top_ico_e5a1c5b5.png) 98px 17px no-repeat;
                                font-size: 14px;
                                color: #3e4141;
                                padding-right: 35px;
                                s{
                                    display: inline-block;
                                    width: 20px;
                                    height: 15px;
                                    background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -159px no-repeat;
                                    margin: 12px 13px 0 12px;
                                }
                            }
                        }
                    }
                }
                .head_my{
                    margin: 30px 0;
                    #dtIsNoLogin{
                        height: 40px;
                        dt{
                            height: 38px;
                            border: 1px solid #e5e5e5;
                            a{
                                display: block;
                                background: url(img/header/n_top_ico_e5a1c5b5.png) 113px 17px no-repeat;
                                font-size: 14px;
                                color: #3e4141;
                                padding-right: 35px; 
                            }
                            s{
                                display: inline-block;
                                width: 20px;
                                height: 15px;
                                background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -122px no-repeat;
                                margin: 12px 13px 0 12px;
                            }
                        }
                    }
                }
                .head_search{
                    width: 470px;
                    height: 41px;
                    margin: 29px 45px 0 0; 
                    position: relative;
                    .search_box{
                        // height: 41px;
                        border: 3px solid #91be16;
                        overflow: hidden;
                        input{
                            width: 367px;
                            height: 35px;
                            // box-sizing: border-box;
                            padding: 0 10px;
                            vertical-align: middle;
                        }
                        a{
                            display: inline-block;
                            width: 77px;
                            height: 35px;
                            background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -265px no-repeat;

                        }
                    }
                    .search_word{
                        position: absolute;
                        top: -32px;
                        left: 0;
                        line-height: 32px;
                        width: 470px;
                        span{
                            margin-right: 25px;
                            a{
                                font-size: 12px;
                                color: #8c8c8c;

                            }
                        }
                    }
                }
            }
        }
        /*头部搜索 结束*/
        /*头部菜单 开始*/
        .head_menu_bg{
            height: 44px;
            width: 100%;
            background-color: #8ab700;
            .head_menu_all_OnlineCategory{
                width: 210px;
                line-height: 44px;
                position: relative;
                z-index: 60px;
                .tit_all{
                    a{
                        display: inline-block;
                        color: #fff;
                        width: 175px;
                        background: url(img/header/n_top_ico_e5a1c5b5.png) 158px -218px no-repeat #78a000;
                        padding-left: 35px; 
                        font-size: 18px;
                    }
                }
                /*一级导航 开始*/
                .tit_sort{
                    width: 206px;
                    height: 396px;
                    border: 2px solid #91be16;
                    background: #fff;
                    position: absolute;
                    top: 44px;
                    left: 0;
                    z-index: 89;
                    dl{
                        height: 33px;
                        width: 204px;
                        float: left;
                        dt{
                            height: 31px;
                            line-height: 31px;
                            width: 154px;
                            position: relative;
                            z-index: 31;
                            top: 0;
                            left: 0;
                            padding: 1px 0 1px 50px;
                            text-overflow: clip;
                            // overflow: hidden;
                            &:after{
                                content: "";
                                background: url(img/header/n_icon12_498beb5a.png) 0 0 no-repeat;
                                display: block;
                                float: right;
                                width: 6px;
                                height: 12px;
                                margin: 12px 12px 0 0;
                            }
                            a{
                                color: #4c4c4c;
                                font-size: 12px;
                                font-weight: "Microsoft YaHei";
                                line-height: 31px;
                            }
                        }
                        .sort_bg01{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px 0 no-repeat #fff;
                        }
                        .sort_bg02{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -33px no-repeat #fff;
                        }
                        .sort_bg03{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -66px no-repeat #fff;
                        }
                        .sort_bg04{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -99px no-repeat #fff;
                        }
                        .sort_bg05{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -132px no-repeat #fff;
                        }
                        .sort_bg06{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -165px no-repeat #fff;
                        }
                        .sort_bg07{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -198px no-repeat #fff;
                        }
                        .sort_bg08{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -231px no-repeat #fff;
                        }
                        .sort_bg09{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -264px no-repeat #fff;
                        }
                        .sort_bg10{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -297px no-repeat #fff;
                        }
                        .sort_bg11{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -330px no-repeat #fff;
                        }
                        .sort_bg12{
                            background: url(img/header/n_menu_bg01_oc_b4237de2.png) 8px -363px no-repeat #fff;
                        }
                        /*一级导航 结束*/
                        /*二级导航 开始*/
                        dd{
                            width: 973px;
                            height: auto!important;
                            height: 400px;
                            min-height: 400px;
                            background-color: #fff;
                            background: rgba(255,255,255,.97);
                            position: absolute;
                            left: 208px;
                            top: -2px;
                            border: 1px solid #8ab700;
                            border-top: none;
                        }
                         /*二级导航 结束*/
                    }
                }
            }
            .head_menu_big{
                width: 988px;
                height: 40px;
                margin: 2px 0 0 2px;
                ul{
                    float: left;
                    li{
                        float: left;
                        position: relative;
                        margin: 0 2px;
                        img{
                            position: absolute;
                            z-index: 1000;
                            top: -10px;
                            // left: 8px;
                        }
                        a{
                            display: inline-block;
                            line-height: 40px;
                            padding: 0 23px;
                            font-size: 18px;
                            color: #fff;
                            &:hover{
                                background: #78a000;
                            }
                        }
                    }
                }
            }
        }
        /*头部菜单 结束*/
    }
    /*大轮播图 开始*/
    .banner{
        height: 400px;
        width: 100%;
        text-align: center;
        float: left;
        position: relative;
        z-index: 0;
        background: pink;
        &:hover .index_control .banner_nav a{
            background: rgba(255, 255, 255, .78);
            transition: all .4s linear;
            color: #626252;
        }
        .index_control{
            display: none;//暂时隐藏
            width: 990px;
            margin: 0 auto;
            background: red;
            position: relative;
            z-index: 1;
            padding-left: 210px;
            .banner_nav{
                width: 990px;
                height: 30px;
                position: absolute;
                top: 386px;
                left: 210px;
                overflow: hidden;
                transition: all .4s linear;
                li{
                    width: 163px;
                    margin-left: 2px;
                    float: left;
                    a{
                        display: block;
                        width: 143px;
                        height: 30px;
                        background: rgba(162,162,147, .78);
                        color: #626252;
                        line-height: 30px;
                        padding: 0 10px;
                        text-align: center;
                        text-overflow: clip;
                        overflow: hidden;
                        font-size: 14px;
                    }
                    &:hover a{
                        background: rgba(150, 191, 23, .78);
                        transition: none!important;
                        color: #fff;
                    }
                }
            }
        }
    }
    /*大轮播图 结束*/
    /*页面主体内容 开始*/
    .main1200{
        height: 8251px;
        background: #58bc58;
    }
    /*页面主体内容 结束*/
    /*页面尾部 开始*/
    .footer{
        height: 459px;
        background: #585858;
    }
    /*页面尾部 结束*/
}