@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

input:-ms-input-placeholder {
  color: #3e4141;
  font-size: 12px;
  opacity: 1;
}

        
input::-webkit-input-placeholder {
  color: #3e4141;
  font-size: 12px;
  opacity: 1;
}

:-moz-placeholder {
  color: #3e4141;
  font-size: 12px;
  opacity: 1;
}

      
::-moz-placeholder {
  color: #3e4141;
  font-size: 12px;
  opacity: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#benlai {
  /*头部样式 开始*/
  /*大轮播图 开始*/
  /*大轮播图 结束*/
  /*页面主体内容 开始*/
  /*页面主体内容 结束*/
  /*页面尾部 开始*/
  /*页面尾部 结束*/
}
#benlai .header {
  height: 237px;
  /*头部顶 开始*/
  /*头部顶 结束*/
  /*头部轮播图 开始*/
  /*头部轮播图 结束*/
  /*头部搜索 开始*/
  /*头部搜索 结束*/
  /*头部菜单 开始*/
  /*头部菜单 结束*/
}
#benlai .header .head_top {
  font-family: '宋体';
  height: 31px;
  box-sizing: border-box;
  line-height: 31px;
  background: #fcfcfc;
  color: #3e4141;
  font-size: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
#benlai .header .head_top .login {
  float: left;
}
#benlai .header .head_top .login a {
  color: #ff6900;
}
#benlai .header .head_top .head_city {
  float: left;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -43px no-repeat;
  padding-left: 34px;
  margin-left: 15px;
}
#benlai .header .head_top .head_city a {
  display: block;
  width: 79px;
  height: 22px;
  padding-left: 6px;
  text-decoration: none;
  color: #3e4141;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 70px 8px no-repeat #ffffff;
  border: 1px solid #eeeee7;
  line-height: 22px;
  text-align: left;
  margin-top: 3px;
}
#benlai .header .head_top .head_menu {
  float: right;
}
#benlai .header .head_top .head_menu li {
  float: left;
  box-sizing: border-box;
  height: 31px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) right -79px no-repeat;
}
#benlai .header .head_top .head_menu li .menu_word {
  margin: 0 15px;
}
#benlai .header .head_top .head_menu li a {
  line-height: 30px;
  color: #3e4141;
  display: inline-block;
  text-decoration: none;
}
#benlai .header .head_top .head_menu li .towcode dl {
  width: 101px;
  height: 30px;
  position: relative;
}
#benlai .header .head_top .head_menu li .towcode dl dt a {
  display: block;
  padding-left: 30px;
  background: url(img/header/top_ipico01_708559df.gif) 11px 4px no-repeat;
}
#benlai .header .head_top .head_menu li .towcode dl dd {
  width: 101px;
  height: 157px;
  background: #fff;
  text-align: center;
  position: absolute;
  border: 1px solid #ccc;
  border-top: none;
  top: 30px;
  left: -1px;
  z-index: 200;
  display: none;
}
#benlai .header .head_top .head_menu li .towcode dl dd img {
  width: 98px;
  padding: 15px 0 0 0;
}
#benlai .header .head_top .head_menu li .towcode dl dd p {
  line-height: 38px;
  color: #2c2e2d;
  font-size: 12px;
}
#benlai .header .head_top .head_menu li .head_service dl {
  width: 87px;
  height: 30px;
  position: relative;
}
#benlai .header .head_top .head_menu li .head_service dl dt {
  width: 73px;
  padding-left: 14px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 65px 13px no-repeat;
}
#benlai .header .head_top .head_menu li .head_service dl dd {
  width: 89px;
  height: 102px;
  position: absolute;
  top: 30px;
  left: -1px;
  z-index: 200;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
  display: none;
}
#benlai .header .head_top .head_menu li .head_service dl dd a {
  display: block;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
}
#benlai .header .head_top_bar {
  height: 60px;
  background: pink;
  position: relative;
}
#benlai .header .head_top_bar a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
#benlai .header .head_top_bar a:nth-child(1) {
  background: url(img/header/dtpf29.jpg) center top no-repeat;
  opacity: 1;
  z-index: 100;
}
#benlai .header .head_top_bar a:nth-child(2) {
  background: url(img/header/dtgdx.jpg) center top no-repeat;
  opacity: 0;
  z-index: 0;
}
#benlai .header .head_top_bar a:nth-child(3) {
  background: url(img/header/dthf1.jpg) center top no-repeat;
  opacity: 0;
  z-index: 0;
}
#benlai .header .head_logo_box {
  background: #fff;
  margin-top: 2px;
}
#benlai .header .head_logo_box .container h1 a {
  display: inline-block;
  padding: 8px 0 0px;
}
#benlai .header .head_logo_box .container .head_buy {
  width: 125px;
  height: 40px;
  margin: 38px 0 0 20px;
  position: relative;
  z-index: 60;
}
#benlai .header .head_logo_box .container .head_buy dl {
  height: 40px;
}
#benlai .header .head_logo_box .container .head_buy dl dt {
  height: 38px;
  width: 125px;
  border: 1px solid #e5e5e5;
  line-height: 38px;
}
#benlai .header .head_logo_box .container .head_buy dl dt .buy_quantity {
  width: 37px;
  height: 23px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -194px no-repeat;
  position: absolute;
  top: -16px;
  left: 25px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}
#benlai .header .head_logo_box .container .head_buy dl dt a {
  display: block;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 98px 17px no-repeat;
  font-size: 14px;
  color: #3e4141;
  padding-right: 30px;
}
#benlai .header .head_logo_box .container .head_buy dl dt a s {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -159px no-repeat;
  margin: 12px 13px 0 12px;
}
#benlai .header .head_logo_box .container .head_my {
  width: 125px;
  height: 40px;
  margin: 38px 0 22px 13px;
  text-align: center;
}
#benlai .header .head_logo_box .container .head_my #dtIsNoLogin {
  height: 40px;
}
#benlai .header .head_logo_box .container .head_my #dtIsNoLogin dt {
  height: 38px;
  border: 1px solid #e5e5e5;
}
#benlai .header .head_logo_box .container .head_my #dtIsNoLogin dt a {
  display: block;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 103px 17px no-repeat;
  font-size: 14px;
  color: #3e4141;
  padding-right: 30px;
}
#benlai .header .head_logo_box .container .head_my #dtIsNoLogin dt s {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -122px no-repeat;
  margin: 12px 6px -3px 4px;
}
#benlai .header .head_logo_box .container .head_search {
  width: 470px;
  height: 41px;
  margin: 38px 32px 0 0;
  position: relative;
  font-family: '宋体';
}
#benlai .header .head_logo_box .container .head_search .search_box {
  border: 3px solid #91be16;
  overflow: hidden;
}
#benlai .header .head_logo_box .container .head_search .search_box input {
  width: 367px;
  height: 35px;
  padding: 0 10px;
  vertical-align: middle;
}
#benlai .header .head_logo_box .container .head_search .search_box a {
  display: inline-block;
  width: 77px;
  height: 35px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 0 -265px no-repeat;
}
#benlai .header .head_logo_box .container .head_search .search_word {
  position: absolute;
  top: -34px;
  left: 0;
  line-height: 32px;
  width: 470px;
}
#benlai .header .head_logo_box .container .head_search .search_word span {
  margin-right: 17px;
}
#benlai .header .head_logo_box .container .head_search .search_word span a {
  font-size: 12px;
  color: #8c8c8c;
}
#benlai .header .head_menu_bg {
  height: 44px;
  width: 100%;
  background-color: #8ab700;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory {
  width: 210px;
  float: left;
  position: relative;
  z-index: 39px;
  /*一级导航 开始*/
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_all a {
  display: inline-block;
  color: #fff;
  width: 175px;
  line-height: 44px;
  background: url(img/header/n_top_ico_e5a1c5b5.png) 158px -218px no-repeat #78a000;
  padding-left: 35px;
  font-size: 18px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort {
  width: 206px;
  height: 396px;
  border: 2px solid #91be16;
  background: #fff;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 89;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl {
  height: 33px;
  width: 204px;
  float: left;
  /*一级导航 结束*/
  /*二级导航 开始*/
  /*二级导航 结束*/
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl:hover dt:after {
  background-image: url(img/header/n_icon13_9285c147.png);
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dt {
  height: 31px;
  line-height: 31px;
  width: 154px;
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 1px 0 1px 50px;
  text-overflow: clip;
  background-image: url(img/header/n_menu_bg01_oc_b4237de2.png);
  background-repeat: no-repeat;
  background-color: #fff;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dt:after {
  content: "";
  background: url(img/header/n_icon12_498beb5a.png) 0 0 no-repeat;
  display: block;
  float: right;
  width: 6px;
  height: 12px;
  margin: 12px 12px 0 0;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dt a {
  color: #4c4c4c;
  font-size: 12px;
  font-weight: "Microsoft YaHei";
  line-height: 31px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg01 {
  background-position: 8px 0;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg02 {
  background-position: 8px -33px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg03 {
  background-position: 8px -66px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg04 {
  background-position: 8px -99px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg05 {
  background-position: 8px -132px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg06 {
  background-position: 8px -165px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg07 {
  background-position: 8px -198px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg08 {
  background-position: 8px -231px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg09 {
  background-position: 8px -264px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg10 {
  background-position: 8px -297px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg11 {
  background-position: 8px -330px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl .sort_bg12 {
  background-position: 8px -363px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd {
  display: none;
  border: 1px solid #8ab700;
  border-top: none;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.97);
  position: absolute;
  left: 208px;
  top: -2px;
  z-index: 36;
  width: 600px;
  height: 384px;
  padding: 15px 15px 0 0;
  font-size: 12px;
  color: #333;
  font-family: '宋体';
  vertical-align: top;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd .memu_list ul li {
  width: 615px;
  float: left;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd .memu_list ul li .list_l {
  float: left;
  text-align: right;
  width: 90px;
  font-weight: bold;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd .memu_list ul li .list_l a {
  color: #6c8422;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd .memu_list ul li .list_r {
  width: 495px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd .memu_list ul li .list_r em {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #4c4c4c;
  margin: 0 0 17px;
  max-width: 400px;
}
#benlai .header .head_menu_bg .head_menu_all_OnlineCategory .tit_sort dl dd .memu_list ul li .list_r em a {
  color: #4c4c4c;
}
#benlai .header .head_menu_bg .head_menu_big {
  width: 988px;
  height: 40px;
  margin: 2px 0 0 2px;
}
#benlai .header .head_menu_bg .head_menu_big ul {
  float: left;
}
#benlai .header .head_menu_bg .head_menu_big ul li {
  float: left;
  position: relative;
  margin: 0 2px;
}
#benlai .header .head_menu_bg .head_menu_big ul li img {
  position: absolute;
  z-index: 1000;
  top: -10px;
}
#benlai .header .head_menu_bg .head_menu_big ul li a {
  display: inline-block;
  line-height: 40px;
  padding: 0 23px;
  font-size: 18px;
  color: #fff;
}
#benlai .banner {
  height: 400px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#benlai .banner:hover .index_control .banner_nav a {
  background: rgba(255, 255, 255, 0.78);
  transition: all .4s linear;
  color: #626252;
}
#benlai .banner .index_control {
  width: 990px;
  margin: 0 auto;
  background: red;
  position: relative;
  padding-left: 210px;
}
#benlai .banner .index_control .pis .prev {
  position: absolute;
  top: 182px;
  left: 210px;
}
#benlai .banner .index_control .pis .prev a {
  display: block;
  width: 24px;
  height: 48px;
  opacity: 0.8;
  background: url(img/banner/n_icon_tab_a2631635.png) 7px 15px no-repeat #fff;
}
#benlai .banner .index_control .pis .next {
  position: absolute;
  top: 182px;
  right: 0;
}
#benlai .banner .index_control .pis .next a {
  display: block;
  width: 24px;
  height: 48px;
  opacity: 0.8;
  background: url(img/banner/n_icon_tab_a2631635.png) -43px 15px no-repeat #fff;
}
#benlai .banner .index_control .banner_nav {
  width: 990px;
  height: 30px;
  position: absolute;
  top: 395px;
  left: 210px;
  overflow: hidden;
  transition: all .4s linear;
  z-index: 100;
}
#benlai .banner .index_control .banner_nav li {
  width: 163px;
  margin-left: 2px;
  float: left;
}
#benlai .banner .index_control .banner_nav li a {
  display: block;
  width: 143px;
  height: 30px;
  background: rgba(162, 162, 147, 0.78);
  color: #626252;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  text-overflow: clip;
  overflow: hidden;
  font-size: 14px;
}
#benlai .banner .index_control .banner_nav .on a {
  background: rgba(150, 191, 23, 0.78);
  transition: none !important;
  color: #fff;
}
#benlai .banner .picture {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -100;
}
#benlai .banner .picture a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s;
}
#benlai .banner .picture a:nth-child(1) {
  background: url(img/banner/sjchucheng18.jpg) center top no-repeat;
  opacity: 1;
  z-index: 100;
}
#benlai .banner .picture a:nth-child(2) {
  background: url(img/banner/sjnhdj22.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(3) {
  background: url(img/banner/sjyq79m.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(4) {
  background: url(img/banner/sj190108nianhuo.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(5) {
  background: url(img/banner/sjhgg22.jpg) center top no-repeat;
}
#benlai .banner .picture a:nth-child(6) {
  background: url(img/banner/sjnr23.jpg) center top no-repeat;
}
#benlai .main1200 {
  height: 8251px;
}
#benlai .main1200 .index15_ad {
  width: 1200px;
  height: 175px;
  margin-bottom: 20px;
}
#benlai .main1200 .index15_ad li {
  float: left;
  width: 300px;
}
#benlai .main1200 .index15_ad li img {
  height: 175px;
  width: 300px;
}
#benlai .main1200 .index_new {
  float: left;
  width: 1010px;
  height: 266px;
  margin-bottom: 20px;
}
#benlai .main1200 .index_new .index15_tab {
  background-color: #f8f8f6;
  border-right: 1px solid #c2d58f;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  width: 123px;
  height: 264px;
  position: relative;
  z-index: 0;
}
#benlai .main1200 .index_new .index15_tab dl {
  height: 44px;
  float: left;
}
#benlai .main1200 .index_new .index15_tab dl .on {
  top: -1px;
  left: -1px;
}
#benlai .main1200 .index_new .index15_tab dl .on a {
  color: #78a000;
  background-color: #fff;
  border-top: 1px solid #c2d58f;
  border-bottom: 1px solid #c2d58f;
  border-left: 4px solid #91be16;
  width: 117px;
  padding-right: 4px;
}
#benlai .main1200 .index_new .index15_tab dl dt {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  text-align: center;
}
#benlai .main1200 .index_new .index15_tab dl dt a {
  font: 400 16px/44px "Microsoft YaHei";
  color: #626252;
  text-decoration: none;
  display: block;
  height: 44px;
  width: 123px;
  border-bottom: 1px solid #e5e5e5;
}
#benlai .main1200 .index_new .index15_tab dl dd {
  border-top: 1px solid #c2d58f;
  position: absolute;
  top: -1px;
  left: 124px;
  z-index: 4;
  width: 885px;
  height: 265px;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku {
  width: 885px;
  height: 265px;
  float: left;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li {
  border-bottom: 1px solid #c2d58f;
  float: left;
  width: 176px;
  height: 264px;
  border-right: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box {
  border: 4px solid #fff;
  width: 140px;
  height: 256px;
  padding: 0 14px;
  position: relative;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .pic {
  margin-top: 15px;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .pic a {
  color: #666;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .pic a img {
  width: 140px;
  height: 140px;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name {
  height: 38px;
  width: 140px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name a {
  font: 400 14px/18px "Microsoft YaHei";
  color: #3e4141;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name a font {
  height: 19px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .name a span {
  font: 400 12px/18px "Microsoft YaHei";
  color: #898989;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .price {
  font: 400 17px/25px "Microsoft YaHei";
  color: #ff6900;
  margin-top: 7px;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .price span {
  font: 400 12px/25px "Microsoft YaHei";
  color: #686c69;
  text-decoration: line-through;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .btn {
  position: absolute;
  top: 260px;
  left: 0;
  transition: all .2s linear;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .btn a {
  width: 168px;
  height: 33px;
  display: block;
}
#benlai .main1200 .index_new .index15_tab dl dd .index_sku li .box .btn a.ico00 {
  background-position: center 0;
  cursor: pointer;
}
#benlai .footer {
  height: 459px;
  background: #585858;
}

/*# sourceMappingURL=index.css.map */
